# AWS credentials for the source environment
SOURCE_AWS_ACCESS_KEY_ID=
SOURCE_AWS_SECRET_ACCESS_KEY=
# SOURCE_AWS_SESSION_TOKEN=

# AWS credentials for the target environment
TARGET_AWS_ACCESS_KEY_ID=
TARGET_AWS_SECRET_ACCESS_KEY=
# TARGET_AWS_SESSION_TOKEN=

# Source configuration
SOURCE_REGION=us-east-1
SOURCE_DDB_TABLE=webiny-v5-table
SOURCE_S3_BUCKET=webiny-v5-files
SOURCE_OS_TABLE=webiny-v5-es-table

# Target configuration
TARGET_REGION=us-east-1
TARGET_DDB_TABLE=webiny-v6-table
TARGET_S3_BUCKET=webiny-v6-files
TARGET_OS_TABLE=webiny-v6-es-table
TARGET_OS_ENDPOINT=https://search-xxx.us-east-1.es.amazonaws.com
