# AWS credentials for the source environment
SOURCE_AWS_ACCESS_KEY_ID=
SOURCE_AWS_SECRET_ACCESS_KEY=
# SOURCE_AWS_SESSION_TOKEN=

# AWS credentials for the target environment
TARGET_AWS_ACCESS_KEY_ID=
TARGET_AWS_SECRET_ACCESS_KEY=
# TARGET_AWS_SESSION_TOKEN=
